body {
  background-color: #F6F4EC;
}

#seatsButton {
  border-radius: 24px;
  padding: 0px 20px 0px 20px;
}
.welcome-content {
  position: relative;
  z-index: 2;
}

.nav-logo {
  color: #be8d54;
  letter-spacing: 2px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand .logo {
  width: 35px; /* Adjust size as needed */
  height: auto;
  margin-right: 5px;
}

.navbar-brand:hover{
  color: #BF4408;
}

.navbar-nav .nav-link {
  background-image: linear-gradient(
    to right,
    #BF4408,
    #BF4408 50%,
    #be8d54 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link::before {
  content: '';
  background: #BF4408;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background-position: 0;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
} 

.light-background {
  background-color: #F6F4EC;
}

.kbd {
  background-color: #353535;
}

.dark-background {
  background-color: #000000;
}

.primary-background {
  background-color: #BF4408;
  color: #fff;
}

.primary-border {
  border-color: #BF4408;
}

.form-control {
  /* Firefox, Chrome, Opera */
  background-color: #FBFAF9;
}

.secondary-background {
  background-color: #FBF1EB;
}

.accent {
  background-color: #F5D1B0;
}

.green {
  background-color: #C6E2B3;
}

#details {
  z-index: 999;
}

button {
  color: #E2725B;
  /* Terracotta */
}

.primary-background:hover {
  background-color: #E65103;
  color: #fff;
  /* Darker terracotta on hover */
}

.text-light-background {
  background-color: #F6F4EC;
}

.heading-font {
  font-family: 'EB Garamond';
}


.form-check-input:checked {
  background-color: #bf4508;
  border-color: #BF4408;
}

.link-no-decoration {
  text-decoration: none;
  color: inherit;
}

.rounded-circle {
  border-radius: 50%;
  width: 160px;
  /* Adjust width as needed */
  height: 160px;
  /* Adjust height as needed */
  object-fit: cover;
}


.galaxy-background,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#iam-image{
  z-index: 999;
}
.galaxy-background {
  width: 100%;
  height: 100%;
  /* You can adjust the height as needed */
  background-image: url('../event/images/synagogue.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.galaxy-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  z-index: 1;
}

.stars {
  background-image: radial-gradient(2px 2px at 50px 200px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(3px 4px at 120px 40px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 250px 250px;
  opacity: 0;
  animation: zoom 10s infinite;
}


.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}

.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 500ms;
}

.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 1s;
}

.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 1500ms;
}

.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 2s;
}

.stars:nth-child(6) {
  background-position: 40% -80%;
  animation-delay: 2500ms;
}

.stars:nth-child(7) {
  background-position: -20% 30%;
  animation-delay: 3s;
}

.stars:nth-child(8) {
  background-position: -20% 30%;
  animation-delay: 3500ms;
}

.stars:nth-child(9) {
  background-position: 40% -80%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

.gradient-button {
  background: linear-gradient(to right, #fff 0%, #fddd75 50%, #fff 100%);
  border: none;
  border-radius: 8px;
  color: #000;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.5s;
  text-decoration-line: none;
  transition: background-position 0.5s ease;
  background-size: 200% 200%;

}

.gradient-button:hover {
  background-position: 100% 0;
}

.event {
  z-index: 10;
}

.gradient-link a {
  z-index: 99;
  color: transparent;
  background: linear-gradient(to right, #FFE569 0%, #F79327 50%, #FFE569 100%);
  background-clip: text;
  text-decoration: none;
  transition: background-position 0.5s ease;
  background-size: 200% 200%;
}

.gradient-link a:hover {
  background-position: 100% 0;
}

.gradient-link svg {
  fill: #fff;
  /* White fill initially (to blend with the link's background) */
  transition: fill 0.3s ease;
  /* Smooth transition for fill color */
}

.gradient-link a:hover .location svg {
  fill: #fff;
  /* Adjust the fill color on hover to match the gradient's effect */
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.heart-loading {
  width: 60px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
  -webkit-mask:
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
    linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  animation: l19 2s infinite linear;
}

@keyframes l19 {

  90%,
  100% {
    background-size: 100% 100%
  }
}




/* Gallery carousel */
.contain {
  position: relative;
}


.gallery-row {
  overflow-x: auto; /* Ensure horizontal overflow is enabled */
  width: 100%;
}

.row-inner {
  display: flex; /* Layout tiles horizontally */
  flex-wrap: nowrap; /* Prevent wrapping of tiles */
  transition: 450ms transform;
  font-size: 0;
  margin: 70.3125px 0;
  padding-bottom: 10px; /* Account for OS X scroll bar *//* Account for OS X scroll bar */
  width: fit-content;
}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: auto;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.tile-img {
  width: 250px;
  height: 330px;
  object-fit: cover;
}

.tile-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 14px;
  opacity: 0.5;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}


.tile:hover .tile-details {
  opacity: 1;
}

.tile-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

/* Hover effects */

.row-inner:hover {
  transform: translate3d(-62.5px, 0, 0); /* $moveLeft = -(250px * (1.5 - 1) / 2) */
}

.row-inner:hover .tile {
  opacity: 0.3;
}

.row-inner:hover .tile:hover {
  transform: scale(1.5); /* $growFactor */
  opacity: 1;
}

.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0); /* $moveRight = 250px * (1.5 - 1) */
}
.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.chevron-left {
  left: 10px;
}

.chevron-right {
  right: 10px;
}

/* Product items */
.product-item {
  background: #fff;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url('../event/images/shirt-red-back.png') no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}
.section-products .single-product .part-1 ul li {
  background-color: #ccc;

}
.section-products .single-product .part-1 ul li#shirt-red-back a {
  background: url('../event/images/shirt-red-back.png') no-repeat center center;
  background-size: cover;
}

.section-products .single-product .part-1 ul li#shirt-red-front a {
  background: url('../event/images/shirt-red-front.png') no-repeat center center;
  background-size: cover;
}

.section-products .single-product .part-1 ul li#shirt-blue-back a {
  background: url('../event/images/shirt-blue-back.png') no-repeat center center;
  background-size: cover;
}

.section-products .single-product .part-1 ul li#shirt-blue-front a {
  background: url('../event/images/shirt-blue-front.png') no-repeat center center;
  background-size: cover;
}

.section-products #product-2 .part-1::before {
  background: url('../event/images/iam-cap.png') no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url('../event/images/iam-mug-front.png') no-repeat center;
  background-size: cover;
}
.section-products .single-product .part-1 ul li#iam-mug-front a {
  background: url('../event/images/iam-mug-front.png') no-repeat center center;
  background-size: cover;
}
.section-products .single-product .part-1 ul li#iam-mug-back a {
  background: url('../event/images/iam-mug-back.png') no-repeat center center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url('../event/images/iam-totebag.png') no-repeat center;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.size-picker, .color-picker {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.size-picker div, .color-picker div {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.size-picker div.selected, .color-picker div.selected {
  border: 2px solid #be8d54;
  border-radius: 50%;
}
.color-picker .red {
  background-color: #892021;
}
.color-picker .blue {
  background-color: #1d315e;
}

/* Button */

.round-btn {
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
}

#seatsButton{
  background-color: #be8d54;
}
#seatsButton:hover{
  background-color: #BF4408;
}

.noOfProducts:hover {
  background-color: #E65103;
  color: #fff;
}

.primary-btn:hover {
  background-color: #E65103;
  color: #fff;
}

.round-light-btn {
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  color: #000;
  background-color: #F5D1B0;
}
.accent-outline-btn{
  color: #be8d54;
  border: 2px solid #be8d54;
}

.accent-outline-btn:hover {
  color: #BF4408;
  border: 2px solid #BF4408;
}

.button-link {
  border: none;
}

.add-button {
  --text: #be8d54;
  --cart: #be8d54;
  --tick: var(--background);
  position: relative; 
  border: 2px solid #be8d54;
  background: none;
  padding: 2px 20px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  color: var(--text);
  background: var(--background);
  transform: scale(var(--scale, 1));
  transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
}
.add-button:active {
  --scale: .95;
}
.add-button span {
  font-size: 16px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  transform: translateY(var(--span-y, 0));
  transition: transform .7s ease;
}
.add-button span:before,
.add-button span:after {
  content: '';
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  transition: transform .65s ease .05s;
}
.add-button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}
.add-button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}
.add-button .cart:before,
.add-button .cart:after {
  content: '';
  position: absolute;
}
.add-button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 var(--cart));
}
.add-button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}
.add-button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.add-button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset .4s ease var(--offset-d);
}
.add-button.loading {
  --scale: .95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: .8s;
  --offset: 0;
  --offset-d: 1.73s;
}
.add-button.loading .cart {
  animation: cart 3.4s linear forwards .2s;
}

@keyframes cart {
  12.5% {
      transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
      transform: none;
  }
  50% {
      transform: scale(.9);
  }
  44%,
  56% {
      transform-origin: 12px 23px;
  }
  45%,
  55% {
      transform-origin: 50% 50%;
  }
  87.5% {
      transform: translateX(70px) rotate(-18deg);
  }
  100% {
      transform: translateX(140px) rotate(-18deg);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*::before,
*::after {
  box-sizing: inherit;
}

.pill-color {
  background-color: #08A4BF;
}

.product-feedback {
  font-size: 14px;
}

.quantity-input {
  width: 50px;
}

.hidden {
  visibility: hidden; /* Element is hidden but still occupies space */
}

/* Global "table" column settings */

/* Apply clearfix in relevant places */

/* Apply dollar signs */
.product .product-price:before, 
.product .product-line-price:before, 
.totals-value:before {
  content: 'RM';
}

/* Shopping cart */

/* General styling */
.shopping-cart {
  margin-top: 20px;
}

.product-image img {
  max-width: 100px;
}

.product-title {
  font-weight: bold;
}

.product-description {
  margin-top: 0.5rem;
}

.product-quantity input {
  width: 80px;
}

.remove-product {
  border: 0;
  padding: 0.25rem 0.5rem;
  background-color: #dc3545;
  color: #fff;
}

.remove-product:hover {
  background-color: #c82333;
}

.totals-item {
  margin-bottom: 10px;
}

.totals-value {
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-image img {
      max-width: 80px;
  }

  .product-title {
      font-size: 0.9rem;
  }

  .product-description {
      font-size: 0.8rem;
  }

  .product-quantity input {
      width: 60px;
  }
}

/* Quiz section */
.step {
  display: none;
  font-size: 18px;
}
.step.active {
  display: block;
}

.downloadCalendar {
  cursor: pointer;
  color: #be8d54;
}

.downloadCalendar:hover {
  color: #be8d54;
  background-color: #FBF1EB;
}

.dropdown-menu{
  background-color: #F6F4EC;
}